<a href="/posts/{{id}}" class="post-card mb-2" style="text-decoration: none;" style="height: 175px">
<div class="card w-100" style="height: 160px">

  <div class="card-body d-flex">
    <div>
      <img class="float-left" src="{{image_link}}" style="max-width:50px">
    </div>
    <div>
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">by {{user.username}}</h6>
      <p class="card-text">{{body}}</p>
      <h6>Posted on {{format_date creation_date}} at {{format_time creation_date}}</h6>
    </div>

  </div>
</div>
</a>