<div class="container">
  <div class="row">
    {{#if createdToday}}
      <p>Account was created today</p>
    {{else}}
      <p>Account was created {{daysCreated}} days ago</p>
    {{/if}}
  </div> 
</div>

<div class="container-full">
  {{!-- All user's posts --}}
  {{#each user.posts}}
    {{!-- We must also render an edit button here --}}
    {{> post}}
    <button type="button" class="btn btn-secondary editPost" style="position:relative; top: -50px;" data-toggle="modal" data-post='{{id}}' 
      data-object='{"specific_location": "{{specific_location}}", 
      "image_link": "{{image_link}}", "title": "{{title}}", "body": "{{body}}"}' data-target="#editPostModal" data-whatever="@getit">Edit Post</button>
  {{/each}}
  
  {{!-- New Post modal button --}}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostModal" data-whatever="@getbootstrap">New Post</button>
</div>

 

<script src="/js/dashboard.js"></script>
<script src="/js/editPost.js"></script>