<div class="container">
        <br>
        <div class="card w-100">
            <div class="card-header bg-secondary"><h2>{{post.title}}</h2></div>
            <div class="card-body">
                <img class="mx-auto d-block" src="{{post.image_link}}" style="w-75">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{post.user.username}}</h6>
                <p class="card-text">{{post.body}}</p>
                <p>{{post.location.name}}</p>
                <p>Posted on {{format_date post.creation_date}} at {{format_time post.creation_date}}</p>
                {{#if loggedIn}}
                    {{> vote-button}}
                {{/if}}
                <p>Upvotes: {{post.upVotes}}</p>
            </div>
        </div>
        {{#if loggedIn}}
            <form class="form w-100" id="comment-form">
                <div class="form-group w-100">
                    <textarea class="form-input w-100" type="text" id="new-comment" style="resize: none;"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary submit" id="comment-btn">Add Comment</button>
                </div>
            </form>
        {{else}}
        <h4><a href="/login">Log in</a> to leave a comment!</h4>
        {{/if}}
        {{#each post.comments as |comment|}}
        <div class="card w-100">
            <div class="card-header bg-secondary"><h3>{{comment.user.username}}</h3></div>
            <div class="card-body">
                <p>{{comment.body}}</p>
                <p>Posted on {{format_date comment.creation_date}} at {{format_time comment.creation_date}}</p>    
            </div>
        {{#if comment.canDelete}}
            <button data-id="{{id}}" class="btn btn-danger delete-comment-btn" style="width: 100px; position: relative; left: 85%;">Delete</button>
        {{/if}}

        {{#if comment.loggedIn}}
            <div class="form-group w-100">
                <textarea class="form-input w-100 new-reply" type="text" style="resize: none;"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary reply-btn" type="button" data-comment-id="{{comment.id}}">Add Reply</button>
            </div>
        {{/if}}
        </div>

        {{#each comment.replies}}
        <div class="card w-80">
            <div class="card-header">
                {{user.username}}
            </div>
            <div class="card-body">
                <p>{{body}}</p>
                <p>Replied on {{format_date creation_date}} at {{format_time creation_date}}</p>
            </div>
        {{#if canDelete}}
            <button data-id="{{id}}" class="btn btn-danger delete-reply-btn" style="width: 100px; position: relative; left: 85%;">Delete Reply</button>
        {{/if}}
        </div>
            
        {{/each}}
            

        {{/each}}
    
</div>

{{#if loggedIn}}
    <script src="/js/comment.js"></script>
{{/if}}